.header
{
    position: fixed;
    z-index: 1;
    top: 0;

    box-sizing: border-box;
    width: 100%;

    background: #f6f6f6;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 10px 20px -5px rgba(0,0,0,.4);
}
